@import '../../../../scss/mixins';
@import '../../../../scss/variables';

.add-brood-card-btn {
    width: 190px;
    height: 40px;
    font-size: 16px;
    font-weight: $font-normal;
}

.avatar-header {
    &:hover {
        cursor: pointer;
    }
}

.menu-popup {
    margin-top: 55px;
    transform: translate(-50px, 0); 
    &-item {
        cursor: pointer;
        &-link {
            color: $text-color;                  
            text-decoration: none;
        }
    } 
}


@media screen and (min-width: 577px) and (max-width: 870px) {    
    .avatar-header {
        margin-right: 40px;
    }
}
