@import '../../../scss/variables';
@import '../../../scss/mixins';

.footer {
    height: 172px;
    margin-top: auto;
    background-color: $footer-background;
    &__container {
        height: 100%;
        @include flex(space-between, center);
        font-family: $font;
        color: $text-color;
        font-size: 18px;
        color: #FFFFFF;
    }
    &__logo {
        width: 165px;
        height: 100%;
        @include flex(flex-end, center);
    }
    &__title {
        font-size: 32px;
        line-height: 42px;
        font-weight: $font-bold;
    }
    &__legal {
        @include flex(flex-start, flex-start, column nowrap);
        max-width: 239px;
        font-size: 16px;
        &_copyright {
            line-height: 23px;
            margin-bottom: 13px;
        }
        &_info {
            line-height: 23px;
            margin-bottom: 13px;
        }
        &_pd-link {
            color: #FFFFFF;
            font-size: 10px;
            line-height: 15px;
            border-bottom: none;
            display: block;
            margin-bottom: 13px;
        }
    }
    &__contacts {
        line-height: 25px;
        height: 55px;
        @include flex(center, center, column nowrap);
        .contacts-icon {
            margin-right: 5px;
        }
    }
    &__contacts a {
        text-decoration: none;
        color: #FFFFFF;
        text-align: center;
    }
}

// mobile
@media screen and (max-width: 870px) {
    .footer {
        height: 250px;
        &__container {
            height: 100%;
            @include flex(center, flex-start, column nowrap);
            font-family: $font;
            color: $text-color;
            font-size: 14px;
            color: #FFFFFF;
        }
        &__logo {
            height: 50px;
            width: 143px;
        }
        &__copyright {
            order: 3;
            width: 100%;
        }
        &__title {
            font-size: 28px;
        }
        &__contacts {
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .footer__container {
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: space-around;
    }
}
