@import '../../../scss/variables';
@import '../../../scss/mixins';

.modal-card__container {
    padding: 30px 0;
    font-family: $font;
}

.info-block_container {
    @include flex(flex-start, flex-start, row nowrap);
}

.imgs-container {
    @include flex(flex-start, flex-start, row nowrap);
    max-width: 450px;
    height: 372px;
    margin-right: 15px;
    & .images-mini__container {
        @include flex(flex-start, flex-start, column nowrap);
        max-width: 90px;
        height: 372px;
        margin-right: 4px;
        & .img__container {
            max-width: 90px; 
            height: 90px;
            display: flex;
            margin-bottom: 4px;
            cursor: pointer;
            &:last-child {
                margin-bottom: 0;
            }
            & .brood__img {
                object-fit: cover;
                object-position: center;
                width: 100%;
            }
        }
    }
    & .image-large_container {
        width: 350px;
        height: 372px;
        display: flex;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        & .brood__img_main {
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }
}

.info-container {
    margin-top: -20px;
    height: 460px;
    width: 400px;
    padding: 0 10px;
    & .creation-date {
        font-weight: $font-normal;
        font-size: 14px;
        line-height: 140%;
        color: #B8B8B8;
    }
    & .kennel-name {
        font-weight: $font-bold;
        font-size: 22px;
        line-height: 130%;
        color: #543D93;
        margin-bottom: 6px;
    }
    & .documents-true,
    & .documents-false {
        font-size: 10px;
        background-color: #f0eeee;
        border-radius: 10px;
        padding: 3px 5px;
    }
    & .documents-true {
        color: $success;
    }
    & .documents-false {
        color: $error;
    }
    & .kennel-approve {
        color: $text-color;
    }
    & .breed {
        font-weight: $font-normal;
        font-size: 18px;
        line-height: 140%;
        color: $text-color;
        margin-top: 14px;
    }
    & .sex-container {
        @include flex(space-between, center, row nowrap);
        margin-top: 14px;
        width: 100%;
        & .sex-text {
            font-weight: $font-normal;
            font-size: 16px;
            line-height: 140%;
            color: $text-color;
        }
        & .male-count,
        & .female-count {
            width: 40px;
            @include flex(space-between, center, row nowrap);
            font-weight: $font-normal;
            font-size: 18px;
            line-height: 140%;
            color: $text-color;
        }
        & .male-icon {
            font-size: 14px;
            color: #2D9CDB;
        }
        & .female-icon {
            font-size: 14px;
            color: #FD44BE;
        }
        & .code {
            font-weight: $font-normal;
            font-size: 12px;
            line-height: 140%;
            color: $text-color;
        }
    }
    & .date-of-birth_block {
        margin-top: 14px;
        margin-bottom: 14px;
        @include flex(space-between, center, row nowrap);
        font-weight: $font-normal;
        font-size: 16px;
        line-height: 140%;
        color: $text-color;
    }
    & .price_block {
        font-weight: $font-normal;
        margin-top: 14px;
        margin-bottom: 14px;
        @include flex(space-between, center, row nowrap);
        font-size: 18px;
        line-height: 140%;
        color: $text-color;
    }
    & .brood-documents {
        font-weight: $font-normal;
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 14px;
        display: block;
    }
    & .city,
    & .transportable {
        font-weight: $font-normal;
        font-size: 16px;
        line-height: 140%;        
        margin-bottom: 14px;
        display: block;
    }
}

.about-brood_block {
    margin: 28px 0;
    padding: 0 15px;
    & .about-brood_heading {
        font-weight: $font-bold;
        font-size: 18px;
        line-height: 140%; 
        margin-bottom: 13px;
    }
    & .brood-description {
        max-width: 650px;
        background: #f0eeee;
        border-radius: 10px;
        padding: 20px;
        font-weight: $font-normal;
        font-size: 18px;
        line-height: 140%; 
    }
}

.parents_block {
    margin: 28px 0;
    padding: 0 15px;
    & .parents_heading {
        font-weight: $font-bold;
        font-size: 18px;
        line-height: 140%; 
        margin-bottom: 13px;
    }
    & .parents_container {
        @include flex(flex-start, center, row nowrap);
        & .parents_photos {
            @include flex(center, flex-start, column nowrap);
            & .parent_photo_container {
                margin-right: 20px;
                max-width: 100px;
                height: 70px;
                margin-bottom: 10px;
                display: flex;
                &:last-child {
                    margin-bottom: 0;
                }
                & .parent_photo {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                }
            }
        }

        & .parents-description {
            width: 530px;
            background: #f0eeee;
            border-radius: 10px;
            padding: 20px;
            font-weight: $font-normal;
            font-size: 18px;
            line-height: 140%; 
        }
    }
    
}

.card-divider-line {
    background-color: #B8B8B8;
    height: 1px;
    width: 100%;
    display: block;
    margin: 10px 0;
}

.brood-card-btn {
    width: 196px;
    height: 50px;
    font-weight: $font-normal;
    font-size: 18px;
    line-height: 140%; 
    padding: 0 15px;
}

@media screen and (max-width: 870px) {    
    .modal-card__container {
        padding: 0;
    }
    .addform-title {
        font-size: 24px;
        line-height: 130%;
    }
    .info-block_container {
        @include flex(flex-start, flex-start, column nowrap);
        max-width: 100%;
        position: relative;
        margin-top: 10px;
    }
    
    .imgs-container {
        @include flex(flex-start, flex-start, row nowrap);
        min-width: 100%;
        height: unset;
        margin-right: 0;
        & .images-mini__container {
            @include flex(flex-start, center, column nowrap);
            max-width: 60;
            margin-right: 10;
            margin-top: 0;
            & .img__container {
                cursor: pointer;
                width: 60px;
                height: 60px;
                margin-bottom: 12px;
                &:last-child {
                    margin-bottom: 0;
                }
            
            }
        }
        & .image-large_container {
            min-width: 200px;
            height: unset;
        }
    }
    
    .info-container {
        height: unset;
        min-width: unset;
        width: 100%;
        padding: 36px 16px 0 0;

        & .creation-date {
            position: absolute;
            top: -27px;
        }
        & .kennel-name {
            width: 80%;
            overflow-wrap: break-word;

        }
        
        & .sex-container {
            @include flex(space-between, center, row nowrap);
            margin-top: 14px;
            width: 80%;
            & .male-count,
            & .female-count {
                width: 30px;
            }
            & .code {
                display: none;
            }
        }
        & .date-of-birth_block {
            width: 80%;
        }
        & .price_block {
            width: 80%;
        }
        & .brood-documents {
            width: 80%;
        }
        & .city,
        & .transportable {
            width: 80%;
        }
    }
    .about-brood_block, .parents_block {
        padding: 0 15px 0 0;
        min-width: 100%;

        & .brood-description {
            max-width: 100%;
        }
    }
    
    .parents_block {
        & .parents_heading {
            font-weight: $font-bold;
            font-size: 18px;
            line-height: 140%; 
            margin-bottom: 13px;
        }
        & .parents_container {
            @include flex(flex-start, center, column nowrap);
            & .parents_photos {
                @include flex(flex-start, center, row nowrap);
                margin-bottom: 18px;
                & .parent_photo_container {
                    margin-right: 10px;
                    max-width: 153px;
                    height: 92px;
                    margin-bottom: 0;
                    display: flex;
                }
            }
    
            & .parents-description {
                max-width: 85%;
            }
        }
        
    }
    
    .card-divider-line {
        background-color: #B8B8B8;
        height: 1px;
        width: 100%;
        display: block;
        margin: 10px 0;
    }
    
    .brood-card-btn {
        width: 196px;
        height: 50px;
        font-weight: $font-normal;
        font-size: 18px;
        line-height: 140%; 
        margin: 0 auto;
    }


}