.form-container {
    max-width: 90%;
    margin: 0 auto;
}

.fas {
    font-size: 26px;
}

.fa-mars {
    color: #2D9CDB;
}
.fa-venus {
    color: #FD44BE;

}
.ad-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 1390px;
}

.textarea-container {
    display: flex;
    padding-top: 15px;
}

.textarea-input {
    width: 75%;
}

.puppy-sex {
    display: flex;
    align-items: center;
    width: 100%;

}

.puppy-sex label {
    align-self: center;
    padding: 0px 10px;
}

.add-card-modal {
    display: flex;
}

.puppy-img-container {
    display: flex;
    padding-top: 10px;
    height: 100px;
    padding-bottom: 10px;
}
.image-item {
    position: relative;
    padding: 0px 10px;
}

.upload-container {
    width: 75%;
}

.btn-wrpapper {
    display: flex;
    flex-direction: column;
    &>span {
        color: #B8B8B8;
        font-size: 12px;
        line-height: 17px;
    }
}

.img-btn {
    width: 300px;
    height: 40px;
}

.photos-wrapper {
    display: flex;
    padding-top: 10px;
}

.form-divider-line {
    background-color: #B8B8B8;
    height: 1px;
    width: 100%;
    display: block;
}

.add-form-submit-btn {
    width: 196px;
    height: 50px;
    margin-left: 200px;
}

.textarea-limit {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin-left: 200px;
    &>span {
        color: #B8B8B8;
        font-size: 12px;
        line-height: 17px;
        display: block;
    }

}

@media screen and (min-width: 577px) and (max-width: 870px) {    

    .photos-wrapper {
        display: flex;
        flex-direction: column;
    }
    .puppy-img-container {
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }
    .puppy-img-container::-webkit-scrollbar {
        display: none;
      }
    .upload-container {
        width: 100%;
    }
    .textarea-limit {
        margin-left: 0;
        width: 100%;
    }
    .add-form-submit-btn {
        margin: 0 auto;
    }
    .img-btn {
        width: unset;
    }
    .btn-wrpapper {
        padding-top: 10px;
    }

}

@media screen and (max-width: 577px) {    


    .textarea-container {
        display: flex;
        flex-direction: column;
    }
    .textarea-input {
        width: 100%;
    }
    .photos-wrapper {
        display: flex;
        flex-direction: column;
    }
    .puppy-img-container {
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }
    .puppy-img-container::-webkit-scrollbar {
        display: none;
      }
    .upload-container {
        width: 100%;
    }
    .textarea-limit {
        margin-left: 0;
        width: 100%;
    }
    .add-form-submit-btn {
        margin: 0 auto;
    }
    .img-btn {
        width: unset;
    }
}