@import '../../../scss/variables';
@import '../../../scss/mixins';

.acc-settings__profile {
    font-family: $font;
    padding-left: 40px;
    min-width: 50%;
    border-left: 1px solid #E0E0E0;

}

.profile__heading {
    font-weight: $font-normal;
    font-size: 24px;
    line-height: 130%;
    color: $text-color;
}

.profile-form {
    margin-top: 36px;
}

.profile__input-block {
    margin-bottom: 24px;
    margin-top: 24px;
    font-weight: $font-normal;
    font-size: 18px;
    line-height: 150%;
}

.profile__btn {
    width: 140px;
    height: 40px;
    margin-top: 36px;
}

.edit-icon {
    color: #4F4F4F;
    font-size: 12px;
    margin-left: 12px;
    display: inline-block;
}

.breed-tooltip {
    padding: 0;
    & .breed-tooltip_text {
        font-weight: $font-normal;
        font-size: 16px;
        line-height: 140%;
        text-decoration: dashed;
        color: $text-color
    }
} 

.breeds-list {
    margin-top: 17px;
    margin-bottom: 17px;
    & .breed {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.profile__textarea_label{
    display: inline-block;
    margin-bottom: 5px;
}
.textarea-container_kennel{
    @include flex(flex-start, flex-start, column nowrap);
}
.textarea-limit_kennel {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    &>span {
        color: #B8B8B8;
        font-size: 12px;
        line-height: 17px;
        display: block;
    }
}

.breed-tooltip {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}